.en-tete {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 5% 10px 5%;
    justify-content: space-around;
    background-color: $lightgrey;
    color: $black;
    h2 {
        font-size: 2em;
        margin: 10px;
    }
    p {
        padding: 0px 13px;
        border-left: 2px solid $darkgrey;
        max-width: 70%;
    }
}