#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#coordonee {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    > div {
        min-width: 310px;
        max-width: 600px;
        width: 35%;
    }
}